.icon-radio {
    font-size: 0;

    display: inline-block;

    width: 40px;
    height: 40px;
    margin-right: 20px;

    -webkit-transition: .3s;
       -moz-transition: .3s;
        -ms-transition: .3s;
         -o-transition: .3s;
            transition: .3s;

    border: 15px solid #eee;
    border-radius: 50%;
    background: #eee;
    box-shadow: 1px 1px 1px rgb(1,1,1),
    1px 1px 1px rgb(1,1,1),
    2px 2px 2px rgb(2,2,2),
    3px 3px 3px rgb(3,3,3),
    5px 5px 5px rgb(5,5,5),
    8px 8px 8px rgb(8,8,8),
    13px 13px 13px rgb(13,13,13),
    21px 21px 21px rgb(21,21,21),
    34px 34px 34px rgb(34,34,34);
}
.icon-radio.selected {
    background: #666;
}
input {
    display: none;
}
